{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": [
    "plugin:eslint-plugin/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": [
    "eslint-plugin",
    "babel"
  ]
}
